<div
  class="min-h-[40vh] flex flex-col justify-start items-streatch gap-2 p-2 border-2 border-b-gray-300 bg-white"
>
  <strong class="w-full flex justify-center items-center test-center text-base">
    {{ "physical_products" | translate }}
  </strong>

  <ng-container *ngIf="physicalProducts().length; else noData">
    <selected-product
      *ngFor="let product of physicalProducts(); let index = index"
      @slideInBottom
      [product]="product"
      [index]="index"
      (onDeleteSelectedProduct)="onRemoveSelectedProduct(product, index)"
    ></selected-product>
  </ng-container>
</div>

<ng-template #noData>
  <div class="h-14 flex justify-center items-center">
    {{ "noData" | translate }}
  </div>
</ng-template>
