<section
  class="relative grid grid-cols-10 md:gap-4 gap-2 md:p-8 p-4 bg-slate-100"
>
  <div
    class="col-span-10 sm:col-span-6 md:col-span-7 lg:col-span-8 grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:lg:grid-cols-4 grid-cols-1 md:gap-3 gap-2"
  >
    <product
      *ngFor="let product of productList()"
      [@animate]="{ value: '*', params: { x: '-150px', delay: '250ms' } }"
      [product]="product"
      (onAddProduct)="onAddToCart(product)"
    />
  </div>

  <div class="col-span-10 sm:col-span-4 md:col-span-3 lg:col-span-2">
    <div
      class="min-h-[80vh] sticky top-4 w-full flex flex-col justify-start items-streatch rounded border-gray-200 mat-elevation-z2"
    >
      <physical-products
        [@animate]="{ value: '*', params: { x: '-150px', delay: '330ms' } }"
      />

      <digital-products
        [@animate]="{ value: '*', params: { x: '150px', delay: '340ms' } }"
      />

      <total-price
        [@animate]="{ value: '*', params: { y: '150px', delay: '350ms' } }"
      />
    </div>
  </div>
</section>
