<section
  class="relative grid md:grid-cols-10 grid-cols-1 md:gap-4 gap-2 md:p-8 p-4 bg-slate-100"
>
  <div
    class="md:col-span-8 grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:lg:grid-cols-4 grid-cols-1 md:gap-3 gap-2"
  >
    <product
      *ngFor="let product of productList()"
      [@animate]="{ value: '*', params: { x: '-150px', delay: '250ms' } }"
      [product]="product"
      (onAddProduct)="onAddToCart(product)"
    ></product>
  </div>

  <div class="md:col-span-2">
    <div
      class="min-h-[80vh] sticky top-4 w-full flex flex-col justify-start items-streatch rounded border-2 shadow border-gray-300"
    >
      <physical-products
        [@animate]="{ value: '*', params: { x: '-150px', delay: '330ms' } }"
      ></physical-products>

      <digital-products
        [@animate]="{ value: '*', params: { x: '150px', delay: '340ms' } }"
      ></digital-products>

      <total-price
        [@animate]="{ value: '*', params: { y: '150px', delay: '350ms' } }"
      ></total-price>
    </div>
  </div>
</section>
