<section
  class="relative grid md:grid-cols-10 grid-cols-2 md:gap-4 gap-2 md:p-8 p-4"
>
  <div
    *ngIf="allProducts$ | async as allProducts"
    class="md:col-span-8 col-span-1 grid md:grid-cols-4 grid-cols-2 md:gap-3 gap-2"
  >
    <product
      *ngFor="let product of allProducts"
      [product]="product"
      (onAddProduct)="onAddToCart(product)"
    ></product>
  </div>

  <div class="md:col-span-2 col-span-1">
    <div
      class="min-h-[80vh] sticky top-4 w-full flex flex-col justify-start items-streatch rounded border-2 border-gray-500"
    >
      <physical-products></physical-products>

      <digital-products></digital-products>

      <total-price></total-price>
    </div>
  </div>
</section>
